p#cmd {
    font-family: monospace;
    background-color: #e7cdab;
    height: 120;
}

p.other {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #deb887;
}

#title {
    color: #0000ff;
}